/*---------- General styling ----------*/


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat';
    --color-base: #004aad;
    --color-white: #FFFFFF;
}

a {
    color: #004aad;
}

.flex {
    display: flex;
    
}


/*---------- Navbar ----------*/


header {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 55px;
    background-color: var(--color-white);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.logo img {
    height: 50px;
}

.navbar {
    justify-content: center;
    align-items: center;
    height: 55px;
}

.navbar ul a {
    color: #313131;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
}

.navbar ul li {
    display: inline;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    padding: 15px 20px;
    height: 55px;
    line-height: 55px;
}

.navbar .nav-ul a:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: 0px;
    background: var(--color-base);
    height: 4px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.navbar .nav-ul a:hover:after,
.navbar .nav-ul a:focus:after,
.navbar .nav-ul a:active:after {
    left: 0;
    right: auto;
    width: 100%;
}

.button {
    display: none;
}

.button div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: var(--color-base);
    transition: all 0.3s ease;
}


/*---------- Form ----------*/


.titles {
    padding: 5rem 0 0 0;
    text-align: center;
}

form {
    padding: 5rem 0 0 0;
    text-align: center;
    width: 100%;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
}

button {   
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    transition: color 0.15s;
    width: 100px;
    padding: .5rem .5rem .5rem .5rem;
    line-height: 1;
    box-shadow: 3px 3px 0 0 var(--color-base);
    color: var(--color-base);
    border-color: var(--color-base);
    background-color: var(--color-white);
}

button:hover {
    padding: .5rem .5rem .5rem .5rem;
    line-height: 1;
    box-shadow: 3px 3px 0 0 var(--color-base);
    color: var(--color-white);
    border-color: var(--color-white);
    background-color: var(--color-base);
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0.5rem auto;
}


/*---------- Footer ----------*/
    

.site-footer {
    text-align: center;
    font-size: 13px;
    padding: 1rem;
    max-width: 1200px;
    margin: 30px auto;
}

.site-footer .float-right {
    float: right;
}

.site-footer p {
    margin: 10px 0 10px 0;
}


/*---------- Media queries 820 ----------*/


/* Navbar */


@media (max-width: 1050px) {
    
    .logo img {
        height: 36px;
    }

    .nav-ul {
        position: absolute;
        right: 0;
        top: 0;
        height: 80vh;
        background-color: var(--color-white);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 70%;
        padding: 50px 16px;
        transform: translateX(105%);
        transition: transform 0.5s ease-in;
        overflow-x: hidden;
    }

    .nav-ul li a {
        padding: 12px 0;
        margin: 0 16px;
    }

    .button {
        display: block;
        cursor: pointer;
        position: absolute; 
        right: 0;
    }

    .nav-active {
        transform: translateX(0%);
    }

    .nav-close {
        transform: translateX(100%);
    }

    .toggle .line-1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .line-2 {
        opacity: 0;
    }

    .toggle .line-3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

}


/*---------- Media queries 480 ----------*/


/* Hero */


@media (max-width: 480px) {
    

/* Footer */


    .site-footer {
        font-size: 10px;
    }

}