/*---------- Sections ----------*/

#main-doc .main-section .properties {
    margin: 1rem 0 1rem 0;
}

#main-doc .main-section .properties li {
    margin: 0 0 0 3rem;
    font-size: 1.1rem;
}





/* */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #FFFFFF;

    --background-border-color: #495F73;
    --navbar-color: #FFFFFF;
    --links-color: #495F7398;
    --pre-code-color: #A4B0BB;
    --h1-p-color-code: #BF0413;
    --color-font-code: #42590F;
    --c-color-code: #F24405;
}

body {
    font-family: 'Montserrat';
    background-color: var(--color-white);
}


/* navbar */

#navbar {
    width: 100%;
    background-color: var(--navbar-color);
    padding: 1rem;
    margin: 0 0 1rem 0;
    text-align: center;
}

#navbar .logo {
    font-size: 1.2rem;
}

#navbar .ul-container {
    margin: 1rem 0 0 0;
    width: 100%;
    height: 10rem;
    overflow-y: scroll;
    border: 1px solid var(--background-border-color);
}

#navbar .ul-container li {
    list-style: none;
}

#navbar .ul-container li a {
    display: block;
    border-bottom: 1px solid var(--background-border-color);
    text-align: center;
    font-size: 1rem;
    margin: 0.2rem 0 0.2rem 0;
    padding: 0.5rem;
    text-decoration: none;
    color: #004aad;
}

#navbar .ul-container li a:link,
a:visited,
a:active {
    color: #004aad;
}

#navbar .ul-container li a:hover {
    background-color: var(--links-color);
    transition: background-color 1s ease;
}


/* sections*/

#main-doc {
    padding: 0.5rem;
}

#main-doc header {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem 0;
}

#main-doc h2 {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0.5rem 0 0.5rem 0;
}

#main-doc pre {
    background-color: var(--pre-code-color);
    white-space: pre;
    word-wrap: break-word;
    margin: 1rem 0 1rem 0;
    padding: 0.5rem 0;
    color: #000;
    font-size: 1.1rem;
    font-weight: 500;
}

#main-doc pre code .h1,
.p {
    color: var(--h1-p-color-code);
}

#main-doc pre code .color,
.font {
    color: var(--color-font-code);
}

#main-doc .img-container {
    width: 100%;
    max-width: 35rem;
    margin: 0 auto;
}

#main-doc .img-container img {
    display: block;
    width: 100%;
    height: auto;
    margin: 1rem 0 1rem 0;
}



@media (min-width: 850px) {
    #navbar {
        width: 20rem;
        height: 100vh;
        position: fixed;
        top: 0;
        bottom: 0;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }
    #navbar .ul-container {
        width: 100%;
        height: auto;
        overflow: auto;
        border: none;
    }
    #main-doc {
        margin: 0 0 0 21rem;
    }
}