/*---------- General styling ----------*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    --color-base: #004aad;
    --color-white: #FFFFFF;
    --background-border-color: #000000;
}

body {
    background-color: var(--color-white);
}


/*---------- Sections ----------*/


#main-doc .main-section .properties {
    margin: 1rem 0 1rem 0;
}

#main-doc .main-section .properties li {
    margin: 0 0 0 3rem;
    font-size: 1.1rem;
}

#main-doc .main-section h3 {
    margin: 1rem 0 1rem 0;
}

#main-doc .main-section header {
    margin: 1rem 0 1rem 0;
}

#main-doc .main-section hr {
    margin: 1rem 0 1rem 0;
}

#main-doc {
    padding: 0.5rem;
}

#main-doc header {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem 0;
}

#main-doc h2 {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0.5rem 0 0.5rem 0;
}

#main-doc .img-container {
    width: 100%;
    max-width: 35rem;
    margin: 0 auto;
}

#main-doc .img-container img {
    display: block;
    width: 100%;
    height: auto;
    margin: 1rem 0 1rem 0;
}


/*---------- Navbar ----------*/


#navbar {
    width: 100%;
    background-color: var(--color-white);
    padding: 1rem;
    margin: 0 0 1rem 0;
    text-align: center;
}

#navbar .logo {
    font-size: 1.2rem;
}

#navbar .ul-container {
    margin: 1rem 0 0 0;
    width: 100%;
    height: 10rem;
    overflow-y: scroll;
    border: 1px solid var(--background-border-color);
}

#navbar .ul-container li {
    list-style: none;
}

#navbar .ul-container li a {
    display: block;
    border-bottom: 1px solid var(--background-border-color);
    text-align: center;
    font-size: 1rem;
    margin: 0.2rem 0 0.2rem 0;
    padding: 0.5rem;
    text-decoration: none;
    color: #004aad;
}

#navbar .ul-container li a:link,
a:visited,
a:active {
    color: #004aad;
}

#navbar .ul-container li a:hover {
    color: var(--color-white);
    background-color: var(--color-base);
    transition: background-color 1s ease;
}


/*---------- Media queries ----------*/


@media (min-width: 850px) {
    #navbar {
        width: 20rem;
        height: 100vh;
        position: fixed;
        top: 0;
        bottom: 0;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }
    #navbar .ul-container {
        width: 100%;
        height: auto;
        overflow: auto;
        border: none;
    }
    #main-doc {
        margin: 0 0 0 21rem;
    }
}