.avatar {
    border-radius: 50%;
    width: 80%;
    max-width: 150px;
    height: auto;
    background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
    background-image: linear-gradient(top, #f4f1ee, #fff);
    border-radius: 50%;
    box-shadow: 0px 8px 10px 0px rgb(0 0 0 / 30%), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgb(204 198 197 / 50%);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

.row {
    font-size: 0.8rem;
    text-align: center;
}

.title h1 {
    margin: 0 0 10px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: .5rem;
    line-height: 1.25;
    color: #313131;
    text-rendering: optimizeLegibility;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
}

body {
    font-family: inherit;
    font-size: 1rem;
    line-height: inherit;
    color: inherit;
    margin-top: 70px;
    padding-top: 0;
    counter-reset: captions;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.network-icon {
    list-style: none;
}




