/*---------- General styling ----------*/


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat';
    --color-base: #004aad;
    --color-white: #FFFFFF;
}

a {
    color: #004aad;
}

.flex {
    display: flex;
    
}


/*---------- Navbar ----------*/


header {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 55px;
    background-color: var(--color-white);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.logo img {
    height: 50px;
}

.navbar {
    justify-content: center;
    align-items: center;
    height: 55px;
}

.navbar ul li {
    display: inline;
    position: relative;
    overflow: hidden;
    font-size: 18px;
    padding: 15px 20px;
    height: 55px;
    line-height: 55px;
    font-family: 'Montserrat';
    font-weight: 800;
}

.navbar .nav-ul a:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: 0px;
    background: var(--color-base);
    height: 4px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.navbar .nav-ul a:hover:after,
.navbar .nav-ul a:focus:after,
.navbar .nav-ul a:active:after {
    left: 0;
    right: auto;
    width: 100%;
}

.button {
    display: none;
}

.button div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: var(--color-base);
    transition: all 0.3s ease;
}


/*---------- Hero ----------*/


.container {
    width: 100%;
    display: flex;
}

.container-hero {
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    height: 80vh;
    padding-left: 5vw;
    background-color: var(--color-base);
    /* background: url('/img/mepc.png') center center/cover no-repeat; */ 
}

.container body {
    padding: 1rem;
    max-width: 1200px;
    margin: 30px auto;
}

.column-1 {
    flex-basis: 70%; /* sets initial width to 70% */
    padding: 1rem;
    padding-left: 5vw;
}

.column-1 h1 {
    font-size: 55px;
    color: var(--color-white);
    margin: 5rem 0 10px 0;
}

.column-1 h2 {
    font-size: 23px;
    color: var(--color-white);
    font-family: 'Montserrat';
    font-weight: 400;
    line-height: 2;
}

.column-2 img {
    margin: 5vw 10vw 5vw 0;
    width: 100%;
    padding-right: 5vw;
}

.box {
    background-color: var(--color-base);
}

/*---------- About ----------*/
 

.container-about {
    padding: 60px 0px 0px 0px;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 33%;
    text-align: center;
    float: left;
}

.container-about h3 {
    font-family: 'Montserrat';
    font-weight: 400;
    margin: 10px 0 10px 0;
}

.container-about h2 {
    font-family: 'Montserrat';
    margin: 10px 0 10px 0;
}

.container-about .avatar img {
    width: 344.5px;
    height: 344.5px;
    border-radius: 50%;
}

.container-about .network-icon {
    list-style: none;
    display: inline-block;
    text-rendering: auto;
    line-height: 1;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.container-about .network-icon i {
    margin-right: 5px;
    padding: 3px;
}

.container-about .text-wrapper {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 50%;
}

.container-video {
    padding: 60px 20px;
    text-align: center;
    line-height: 2;
}

.video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
 }

 .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 }


/*---------- Footer ----------*/
    

.site-footer {
    text-align: center;
    font-size: 13px;
}

.site-footer .float-right {
    float: right;
}

.site-footer p {
    margin: 10px 0 10px 0;
}
    

/*---------- Media queries 820 ----------*/


/* Navbar */


@media (max-width: 1050px) {
    
    .logo img {
        height: 36px;
    }

    .nav-ul {
        position: absolute;
        right: 0;
        top: 0;
        height: 80vh;
        background-color: var(--color-white);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 70%;
        padding: 50px 16px;
        transform: translateX(105%);
        transition: transform 0.5s ease-in;
        overflow-x: hidden;
    }

    .nav-ul li a {
        padding: 12px 0;
        margin: 0 16px;
    }

    .button {
        display: block;
        cursor: pointer;
        position: absolute; 
        right: 0;
    }

    .nav-active {
        transform: translateX(0%);
    }

    .nav-close {
        transform: translateX(100%);
    }

    .toggle .line-1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .line-2 {
        opacity: 0;
    }

    .toggle .line-3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }


/* Hero */


    .container-hero .title h1 {
        font-size: 30px;
    }

    .container-hero .subtitle h2 {
        font-size: 18px;
    }

    .column-2 img {
        width: 100%;
    }

 /* About */
 
 
    .container-about {
        width: 100%;
    }

}


/*---------- Media queries 480 ----------*/


/* Hero */


@media (max-width: 480px) {
    
    .container-hero .title h1 {
        font-size: 16px;
    }

    .container-hero .subtitle h2 {
        font-size: 13px;
    }


/* About */


    .container-about {
        width: 100%;
    }

    
/* Footer */


    .site-footer {
        font-size: 10px;
    }

}

@media only screen and (max-width: 900px) {
    .container {
        /* it place the items in vertical direction */
      flex-direction: column;
    }
  
    .box {
      margin: 0 0 1rem;
    }
  }