/* nav-ul animation */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }

  50% {
    width: 100%;
    height: 1px;
  }

  100% {
    width: 100%;
    height: 100%;
    background: var(--color-base);
  }
}

/* nav-logo animation */
@-webkit-keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  20%,
  40%,
  60% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  80% {
    -webkit-transform: translateY(3.4px);
    transform: translateY(6.4px);
  }

  90% {
    -webkit-transform: translateY(-3.4px);
    transform: translateY(-3.4px);
  }
}

@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  20%,
  40%,
  60% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  80% {
    -webkit-transform: translateY(3.4px);
    transform: translateY(3.4px);
  }

  90% {
    -webkit-transform: translateY(-3.4px);
    transform: translateY(-3.4px);
  }
}
