@mixin hero-animation {
  opacity: 0;
  position: relative;
  bottom: 1000px;
  -webkit-animation: slide-bottom 2.5s cubic-bezier(0.87, 0, 0.13, 1) forwards;
  animation: slide-bottom 2.5s forwards cubic-bezier(0.87, 0, 0.13, 1) forwards;
}

@mixin titles {
  padding-top: 5rem;
  text-align: center;
  color: $color__text;

  h1 {
    font-size: 3rem;

    @media (max-width: $breakpoint--md) {
      text-align: center;
      padding: 0 2rem;
    }
  }
}
