@import 'keyframes';
@import 'mixins';
@import 'variables';

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Montserrat';
  box-sizing: border-box;
  --color-base: #004aad;
  --color-white: #ffffff;
  --color-text: #313131;
  --border-color: #c1c1c1;
}

body {
  font-family: inherit;
  font-size: 1rem;
  line-height: inherit;
  color: inherit;
  margin-top: 70px;
  padding-top: 0;
  counter-reset: captions;
  margin: 0;
  font-weight: 400;
  line-height: 1.5;
  color: $color__text;
  text-align: left;
}

hr {
  border: $color__border 1px solid;
  margin: 1rem 0 1rem 0;
}

a {
  color: $color__primary;

  &:hover {
    border-bottom: 1.5px $color__primary dotted;
    cursor: pointer;
  }
}

.alert__note {
  &--left {
    background-color: $color__alert--bg;
    border-left: solid 4px $color__alert;
    padding: 12px;
    width: 50%;
    margin: auto;
  }

  &--top {
    background-color: $color__alert--bg;
    border-top: solid 4px $color__alert;
    padding: 12px;
    width: 50%;
    margin: auto;
  }

  &--right {
    background-color: $color__alert--bg;
    border-right: solid 4px $color__alert;
    padding: 12px;
    width: 50%;
    margin: auto;
  }
}
