.about {
  display: flex;
  flex-direction: column;
  max-width: 1152px;
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding-top: 5rem;
  padding-bottom: 5rem;

  @media (min-width: $breakpoint--md) {
    flex-direction: row;
  }
}

.about-avatar {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 33%;
  text-align: center;
  float: left;

  @media (max-width: $breakpoint--md) {
    width: 100%;
  }

  @media (min-width: $breakpoint--md) {
    flex-basis: 40%;
    align-content: flex-start;
  }
}

.about-image {
  img {
    width: 80%;
    max-width: 344px;
    height: auto;
    border-radius: 50%;
  }
}

.about-social {
  margin-bottom: 2rem;

  @media (min-width: $breakpoint--md) {
    margin-bottom: 0;
  }

  h2 {
    color: $color__text;
    font-family: "Montserrat";
    margin: 10px 0 10px 0;
  }

  h3 {
    color: $color__text;
    font-family: "Montserrat";
    font-weight: 400;
    margin: 10px 0 10px 0;
  }
}

.about-items {
  list-style: none;
  display: inline-block;
  text-rendering: auto;
  line-height: 1;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;

  i {
    margin-right: 5px;
    padding: 3px;
    transition: all 0.7s ease-in-out;

    &:hover {
      transform: rotateY(360deg);
    }
  }
}

.about-items .about-items-networks {
  position: relative;
  margin: 10px;

  &:hover {
    border-bottom: none;
    transform: scale(1.2);
  }

  svg {
    fill: $color__primary;
  }
}

.about-video {
  color: $color__text;
  display: flex;
  text-align: center;

  @media (min-width: $breakpoint--md) {
    padding-left: 2rem;
    flex-basis: 60%;
  }
}

.about-video .about-iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.about-video .about-iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
