// Colors
$color__primary: #004aad;
$color__alert: #3498db;
$color__alert--bg: #f0f7fb;
$color__text: #313131;
$color__border: #c1c1c1;
$color__white: #ffffff;

// Breakpoints
$breakpoint--sm: 640px;
$breakpoint--md: 800px;
$breakpoint--lg: 1024px;
$breakpoint--xl: 1280px;
$breakpoint--xxl: 1366px;
