// CSS variables
:root {
  $color__primary: #004aad;
  --color__primary: #{$color__primary};
  $color__background: #f4faff;
}

// Colours
$color__primary: var(--color__primary);

// Breakpoints
$breakpoint--sm: 640px;
$breakpoint--md: 800px;
$breakpoint--lg: 1024px;
$breakpoint--xl: 1280px;
